.gitignore
.venv/
files/energy/input/emulated_load_profile.csv
files/energy/input/DSM_optimizer/__pycache__/
files/energy/input/load_emulator/results_emulator/
files/energy/input/DSM_optimizer/func/__pycache__/
files/energy/input/DSM_optimizer/func/__pycache__/func.cpython-310.pyc
files/energy/input/DSM_optimizer/__pycache__/main.cpython-310.pyc
files/energy/input/DSM_optimizer/func/__pycache__/ott.cpython-310.pyc
files/energy/profili_utenti/
files/energy/shared_energy_valorization_hourly.csv
files/energy/shared_energy_incentive_yearly.csv
files/energy/shared_energy_incentive_hourly.csv
files/energy/carichi.csv
files/energy/CACER_energy_hourly.csv
files/energy/CACER_energy_monthly.xlsx
files/registry_plants.yml
files/membership_matrix.csv
files/plant_operation_matrix.xlsx
files/registry_plants.csv
files/registry_user_types.yml
files/registry_users.csv
files/registry_users.yml
files/recap.yml
files/finance/repartition_matrix.xlsx
files/finance/subscription_matrix.csv
files/finance/ownership_matrix.xlsx
files/finance/investment_matrix.csv
files/finance/user_entry_matrix.csv
files/finance/FM_template.csv
files/finance/plants/
files/finance/users/
files/finance/configurations/
files/finance/bills/
files/general/calendar.csv
files/general/monthly_calendar.csv
files/results_finance/
files/gen_pv/
files/RID/output_RID.csv
files/RID/output_RID_active_CACER.csv
files/RID/output_GSE_RID_fees.csv
files/PZO/output_PZO_data.csv
assets/load_profile_emulator/
assets/bills/
assets/gen_pv/
assets/general/
assets/energy/
assets/finance/
LICENSE.txt
__pycache__/
files/energy/input/DSM_optimizer/__pycache__/
files/energy/input/DSM_optimizer/func/__pycache__/
API_GME.ipynb
Extract_weather_data.ipynb
files/energy/carichi_with_hvac.csv
files/incentives/CACER_incentivi_per_configuration.csv
files/incentives/CACER_incentivi.csv
files/HVAC/weather_data/
files/HVAC/results_HVAC/
files/energy/input/load_emulator/appliances profiles/
data_analysis_appliances_profiles.ipynb
data_analysis_Kaggle_db.ipynb
data_analysis_RSE_db.ipynb
app_explore_dictionary.py
data_analysis_zenodo_induction_hob.ipynb
data_analysis_zenodo_light.ipynb
metadata_zenodo_db_induction_hob.yml
metadata_zenodo_db_light.yml
metadati_RSE_db.yml
files/grid/0. input_data/data - Storo.xlsx
files/grid/1. network/example.p
files/grid/1. network/Storo.p
files/grid/2. results/example_case.pkl
files/energy/user_type_energy_exchange.csv
0. data_analysis_RSE_db.ipynb
1. data_analysis_Kaggle_db.ipynb
2. data_analysis_zenodo_induction_hob.ipynb
3. data_analysis_zenodo_light.ipynb
4. data_analysis_mendeley.ipynb
